<div class="row">
  <div class='col-md-6 col-md-offset-1'>
    <h2><%= t('sign_in') %></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, style: "width: 14px;" %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t('sign_in'), :class => 'btn btn-default' %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <h2><%= t('or') %></h2>
    <%= button_tag :class => 'btn btn-primary' do %>
    <%= link_to t('sign_in_with_facebook'), user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </div>
</div>

<style>
  .col-md-6 {
    border-right: 1px solid;
  }
  .btn-default {
    width: 100%;
  }
  .btn-default:hover {
    background-color: greenyellow;
  }
  .btn-primary {
    width: 100%;
    background-color: deepskyblue;
  }
  .btn-primary:hover {
    background-color: #357ebd;
  }
  .btn-primary:hover a {
    color: white;
    text-decoration: none;
    background-color: #357ebd;
  }
</style>

